@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
#main-artist i.fa-play-circle {
  color: rgb(108, 212, 108);
  background-color: #0f0f0f;
  margin: 0;
}
#main-artist #sez_inf h3 {
  font-size: 1.1rem;
  font-weight: 700;
}
#main-artist #sez_inf .container tbody h4 {
  font-size: 0.9rem;
}
#main-artist #sez_inf .container tbody h5 {
  font-size: 0.8rem;
  font-weight: 700;
}
#main-artist #sez_inf .container tbody p {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.836);
}
#main-artist #sez_inf #band_profile h4 {
  font-size: 1rem;
  font-weight: 700;
}
#main-artist #sez_inf #band_profile p {
  font-size: 0.8rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.76);
}
#main-artist #sez_sup {
  color: rgb(255, 255, 255);
  text-shadow: 6px 6px 10px black;
  height: 45%;
  padding-left: 20px;
  margin: 0;
}
#main-artist #sez_sup h1 {
  font-size: 5rem;
  font-weight: 700;
}
#main-artist #sez_sup p {
  font-weight: 700;
}
#main-artist .on:hover {
  background-color: rgb(96, 190, 96);
  color: white;
  border: 1px solid rgb(96, 190, 96);
}
#main-artist .off:hover {
  background-color: white;
  color: black;
  border: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  width: 100vw;
}

nav {
  background-color: rgba(0, 0, 0, 0.495);
  color: white;
}
nav #likes {
  padding: 1px 6px 2px;
  background-image: linear-gradient(to bottom right, rgb(82, 25, 189), rgb(250, 244, 255));
}
nav #bookmark {
  padding: 0px 4px 2px 5px;
  background-color: darkgreen;
  color: lightgreen;
}

#scroll {
  overflow-y: scroll;
  height: 360px;
}

#scroll::-webkit-scrollbar {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

#scroll::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: grey;
}

#scroll-table {
  overflow-y: scroll;
  height: 360px;
}

#scroll-table::-webkit-scrollbar {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

#scroll-table::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.295);
}

.img-piccola {
  width: 30px;
  border-radius: 50%;
  height: 30px;
}

#main-album {
  background: linear-gradient(180deg, #ceb558, #000);
}

@media screen and (min-width: 992px) {
  #nav {
    background-color: black;
  }
}
main {
  background-color: black;
  color: white;
}
main .card {
  background-color: #181818;
}
main .card img {
  height: 80px;
  width: 80px;
}
main #card-grande {
  background-image: linear-gradient(to top right, black, #1d1d1d);
}
main #immagine-card-grande {
  height: 150px;
  width: 150px;
}
main .card-b {
  background-color: black;
}
@media screen and (min-width: 992px) {
  main .card {
    background-color: #242424;
  }
  main .card-b {
    background-color: #2c2c2c;
  }
}

@media screen and (min-width: 992px) {
  #main-home,
#main-album,
#main-artist {
    background-color: #212121;
    background: linear-gradient(to bottom, #212121, #0f0f0f, #212121);
  }
}
aside {
  background-color: black;
  color: white;
}
aside ul {
  padding: 5px;
}
aside ul h4 {
  margin: 0;
  font-size: 1.1rem;
}
aside ul h6 {
  color: rgb(238, 238, 238);
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}
aside ul p {
  margin: 0;
  padding: 0;
  font-size: 0.6rem;
  color: rgba(238, 238, 238, 0.856);
}

footer {
  padding: 10px 0px;
  background-color: #181818;
  color: white;
}
footer .player {
  height: 10vh;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}
footer .details {
  justify-content: center;
  width: 18vw;
}
footer .track-art {
  height: 50px;
  width: 50px;
  background-position: center;
  border-radius: 15%;
}
footer .track-name {
  font-size: 1rem;
}
footer .track-artist {
  font-size: 0.5rem;
}
footer .playpause-track,
footer .prev-track,
footer .next-track {
  padding: 10px;
  opacity: 0.8;
  transition: opacity 0.2s;
}
footer .playpause-track:hover,
footer .prev-track:hover,
footer .next-track:hover {
  opacity: 1;
}
footer .slider_container {
  width: 20vw;
  justify-content: center;
  align-items: center;
}
footer #container-duration {
  width: 40vw;
}
footer .seek_slider,
footer .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: rgb(0, 0, 0);
  opacity: 0.7;
  transition: opacity 0.2s;
}
footer .seek_slider::-webkit-slider-thumb,
footer .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}
footer .seek_slider::-webkit-slider-runnable-track,
footer .volume_slider::-webkit-slider-runnable-track {
  background: black;
}
footer .seek_slider:hover,
footer .volume_slider:hover {
  opacity: 1;
}
footer .seek_slider {
  width: 40vw;
}
footer .volume_slider {
  width: 10vw;
}
footer .current-time,
footer .total-duration {
  padding: 10px;
}
footer i.fa-play-circle,
footer i.fa-pause-circle,
footer i.fa-step-forward,
footer i.fa-step-backward {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */