@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 3000px;
}

// @media screen and (max-width:768px) {
//     body{
//       flex-direction: column-reverse;
//     }
//   }
nav {
    // width:30vw;
    background-color: rgba(0, 0, 0, 0.495);
    color: white;

    // height: 100vh;
    #likes {
        padding: 1px 6px 2px;
        background-image: linear-gradient(to bottom right, rgb(82, 25, 189), rgb(250, 244, 255))
    }
}

// @media screen and (max-width:768px) {
//     nav{
//         position: sticky;
//         bottom: 0;
//         width: 100vw;
//         height: 10vh;
//         ul{
//             flex-direction: row;
//         }
//     }
// }
@media screen and (min-width:992px) {
    #nav {
        background-color: black;
    }
}

main {
    // width: 50vw;
    background-color: black;
    color: white;

    .card {
        background-color: black;

        img {
            height: 80px;
            width: 80px;
        }
    }

    @media screen and (min-width:992px) {
        .card {
            background-color: #2b2b2b;
        }
    }
}

@media screen and (min-width:992px) {

    #main-home,
    #main-album,
    #main-artist {
        background-color: #212121;
    }
}

// @media screen and (max-width:768px) {
//     main{
//        width: 100vw;
//     }
// }
aside {
    width: 20vw;
    background-color: black;
    color: white;

    // height: 100vh;
    ul {
        padding: 5px;

        h4 {
            margin: 0;
            font-size: 1.1rem;
        }

        h6 {
            color: rgb(238, 238, 238);
            margin: 0;
            padding: 0;
            font-size: 0.8rem;
        }

        p {
            margin: 0;
            padding: 0;
            font-size: 0.6rem;
            color: rgba(238, 238, 238, 0.856);
        }
    }
}

// @media screen and (max-width:768px) {
//     aside{
//        display: none;
//     }
// }
footer {
    padding: 15px 0;
    background-color: #181818;
    color: white;
    .player {
        height: 10vh;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
    }

    .details {
        justify-content: center;
    }

    .track-art {
        height: 50px;
        width: 50px;
        background-position: center;
        border-radius: 15%;
    }

    .now-playing {
        font-size: 1rem;
    }

    .track-name {
        font-size: 2rem;
    }

    .track-artist {
        font-size: 1rem;
    }

    .playpause-track,
    .prev-track,
    .next-track {
        padding: 10px;
        opacity: 0.8;
        transition: opacity .2s;
    }

    .playpause-track:hover,
    .prev-track:hover,
    .next-track:hover {
        opacity: 1.0;
    }

    .slider_container {
        width: 20vw;
        justify-content: center;
        align-items: center;
    }

    #container-duration{
        width: 40vw;
    }

    .seek_slider,
    .volume_slider {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 5px;
        background: black;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    .seek_slider::-webkit-slider-thumb,
    .volume_slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        background: white;
        cursor: pointer;
        border-radius: 50%;
    }

    .seek_slider:hover,
    .volume_slider:hover {
        opacity: 1.0;
    }

    .seek_slider {
        width: 40vw;
    }

    .volume_slider {
        width: 10vw;
    }

    .current-time,
    .total-duration {
        padding: 10px;
    }

    i.fa-play-circle,
    i.fa-pause-circle,
    i.fa-step-forward,
    i.fa-step-backward {
        cursor: pointer;
    }
}